@use 'sass:color';
@use '../../styles/mixins';
@use '../../styles/transitions';
@use '../../styles/variables';

$-border-radius: 2rem;

.wrapper {
  @include mixins.form-control-group-styles;

  display: block;
  min-width: 200px;

  &.is-disabled {
    .label,
    .controls {
      cursor: not-allowed;
    }

    .controls {
      opacity: var(--a1-input-disabled-opacity);
    }
  }
}

.label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;

  &:checked + .toggle {
    background-color: var(--a1-input-bg-active-color);

    .indicator {
      transform: translateX(100%);

      &-inner {
        transform: translateX(calc(-100% - 2 * var(--a1-input-border-thickness)));
      }
    }
  }

  @include mixins.focus-indicator($selector: '+ .toggle .toggle-inner');
}

.toggle {
  position: relative;
  display: block;
  height: var(--a1-input-height);
  background-color: color.adjust(variables.$input-border-color, $lightness: 55%);
  border-radius: $-border-radius;
  box-shadow: var(--a1-input-box-shadow);
  aspect-ratio: 1.75 / 1;

  &-inner {
    position: absolute;
    border: var(--a1-input-border-thickness) solid var(--a1-input-border-color);
    border-radius: $-border-radius;
    inset: 0;
  }

  @include mixins.if-motion-allowed {
    transition: background-color 0.3s var(--a1-ease-out-quart) 0.1s;
  }
}

.indicator {
  inset: 0;
  display: flex;
  align-items: center;
  pointer-events: none;

  &-inner {
    left: var(--a1-input-border-thickness);
    height: calc(100% - 2 * var(--a1-input-border-thickness));
    aspect-ratio: 1 / 1;
    background-color: var(--a1-input-bg-color);
    border-radius: $-border-radius;
  }

  &,
  &-inner {
    position: absolute;

    @include mixins.if-motion-allowed {
      transition: transform 0.3s var(--a1-ease-out-quart) 0.1s;
    }
  }
}

.status-label {
  display: block;
}

.controls {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
