/* Typography */
$font-family:
  menlo,
  consolas,
  monaco,
  adwaita mono,
  liberation mono,
  lucida console,
  monospace;
$font-color-primary: #111;
$font-color-secondary: #6c757d;
$font-color-tertiary: #fff;
$font-color-error: #dc3545;

/* Colours / input */
$input-border-color: #111;
$input-bg-color: #fff;
$input-bg-active-color: #754fff;
$input-border-thickness: 3px;
$input-border-radius: 4px;
$input-height: 2.5rem;
$input-box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 30%);
$input-disabled-opacity: 0.6;

/* Colours / Focus indicator */
$col-focus-primary: lime;
$col-focus-secondary: #111;

:root {
  /* Typography */
  --a1-font-family: #{$font-family};
  --a1-font-color-primary: #{$font-color-primary};
  --a1-font-color-secondary: #{$font-color-secondary};
  --a1-font-color-tertiary: #{$font-color-tertiary};
  --a1-font-color-error: #{$font-color-error};

  /* Input controls */
  --a1-input-border-color: #{$input-border-color};
  --a1-input-bg-color: #{$input-bg-color};
  --a1-input-bg-active-color: #{$input-bg-active-color};
  --a1-input-border-thickness: #{$input-border-thickness};
  --a1-input-border-radius: #{$input-border-radius};
  --a1-input-height: #{$input-height};
  --a1-input-box-shadow: #{$input-box-shadow};
  --a1-input-disabled-opacity: #{$input-disabled-opacity};

  /* Focus indicator */
  --a1-col-focus-primary: #{$col-focus-primary};
  --a1-col-focus-secondary: #{$col-focus-secondary};
}
