:global(.my-custom-text-input) {
  &[class*='_wrapper_'] {
    font-family: 'Times New Roman', Times, serif;

    &[class*='_is-error_'] {
      position: relative;

      &::before {
        position: absolute;
        top: -10%;
        left: -2rem;
        display: block;
        width: 0.5rem;
        height: 120%;
        background-color: red;
        content: '';
      }
    }
  }

  [class*='_input_'] {
    color: #333;
    background-color: wheat;
    border: 3px solid black;
    border-radius: 0;
  }

  [class*='_label_'] {
    display: inline-block;
    color: cyan;
    background-color: black;
  }

  [class*='_hint_'] {
    color: black;
  }

  [class*='_error_'] {
    color: burgundy;
  }
}
