@use '../../styles/variables';
@use '../../styles/mixins';

.wrapper {
  margin-bottom: 2rem;
  color: var(--a1-font-color-primary);
  font-size: 1rem;
  font-family: var(--a1-font-family);
  line-height: 1.5;

  &.is-error {
    color: var(--a1-font-color-error);

    .input {
      border-color: var(--a1-font-color-error);
    }
  }

  &.is-disabled {
    .input {
      color: var(--a1-font-color-secondary);
      border-color: var(--a1-font-color-secondary);
      cursor: not-allowed;
    }
  }
}

.label,
.input,
.hint,
.error {
  display: block;
  font-family: inherit;
}

.label,
.input,
.error {
  margin-bottom: 1rem;
}

.input {
  box-sizing: border-box;
  min-width: 24rem;
  max-width: 100%;
  height: var(--a1-input-height);
  padding: 0.5rem;
  color: inherit;
  font-size: 1em;
  border: var(--a1-input-border-thickness) solid var(--a1-input-border-color);
  border-radius: var(--a1-input-border-radius);
  box-shadow: var(--a1-input-box-shadow);

  @include mixins.focus-indicator;
}

.label {
  font-weight: bold;
  font-size: 1.1em;
}

.hint {
  color: var(--secondary-color);
}
