.wrapper {
  margin-bottom: 1rem;
  border: 1px solid #ccc;

  &.is-error {
    color: red;
  }
}

.label,
.input,
.hint,
.error {
  display: block;
}

.label,
.input,
.error {
  margin-bottom: 1rem;
}

.input {
  box-sizing: border-box;
  width: 100%;
  min-width: 20rem;
  padding: 0.5rem;
  border: 1px solid #222;
  border-radius: 4px;
}
